{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOCA API</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="js.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="header" > 
        <img alt="logo" src="{% static 'socaLogoWhite.20db7910.svg' %}"  height="40" class="logoapi">
        
        <form>
            <input class="search" type="text" placeholder="Search..." required size="20px">		
          </form>
      </div>
    <div class="isi">
        <div class="container">
            <div class="left">
                <div class="textl">
                    <li><span style="color: black; font-weight: bold;" >SOCA API Documentations</span></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#"><span>Getting Started</span></a></li>
                    <button class="dropbtn">APIs Reference <i class="caretdown"></i> </button>
                    <div class="drop1">
                        <button class="dropbtn" id="btn1">Speech<i class="caretdown"></i></button>
                        <div class="drop3">
                            <button class="dropbtn" id="btn2">ASR <i class="caretdown"></i></button>
                            <div class="drop4">
                                <li><a href="#">v1</a></li>
                            </div>
                            <button class="dropbtn" id="btn2">TTS <i class="caretdown"></i></button>
                            <div class="drop4">
                                <li><a href="#">v1</a></li>
                            </div>
                            <button class="dropbtn" id="btn3">Speaker Recognition <i class="caretdown"></i></button>
                            <div class="drop4">
                                <li><a href="#">v1</a></li>
                            </div>
                        </div>
                        <button class="dropbtn" id="btn1">NLP <i class="caretdown"></i> </a></button>
                        <div class="drop5">
                            <li><a href="#">Concept-based Sentiment Analyzer</a></li>
                            <li><a href="#">Dependency Parser</a></li>
                            <li><a href="#">Document-based Sentiment Analyzer</a></li>
                            <li><a href="#">Emotion Detector</a></li>
                            <li><a href="#">Hate Speech Detector</a></li>
                            <li><a href="#">Legal Information Extractor</a></li>
                            <li><a href="#">Named Entity Recognizer (NER)</a></li>
                            <li><a href="#">News Topic Classifier</a></li>
                            <li><a href="#">Quotation Extractor</a></li>
                            <li><a href="#">Rude Speech Detector</a></li>
                            <li><a href="#">Syntactic Analyzer</a></li>
                            <li><a href="#">Word Normalizer</a></li>
                        </div>
                    </div>
                    <button class="dropbtn">Other References <i class="caretdown"></i> </button>
                    <div class="drop2">
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Docs Changelogs</a></li>
                    </div>
                </div>
                
            </div>

            
            <div class="middle">
                {{ docs.content | safe }}
            </div>    



            <div class="right">
                {{docs.table_of_contents | safe}}
                
            </div>


        </div>
    </div>
    <div class="container2">
        <a href="#" >
            <div class="iii">
            <i class="gg-arrow-left"></i>
            </div>
            <div class="previous">
                <span>
                    <span style="color: rgb(206, 197, 197) ;">Previous</span><br>Home
                </span>
            </div>
        </a>
        <a href="#">
            <div class="ii">
                <i class="gg-arrow-right"></i>
            </div>
            <div class="next">
                <span>
                    <span style="color: rgb(206, 197, 197) ;">Next</span><br>v1
                </span>
            </div>
        </a>    
    </div>

    <div class="footer">
            <p>Copyright © 2020 PT SOCA Solusi Cerdas <br>
                <span>powered by </span> <a href="#" target="_blank">MkDocs </a> <span>and </span> <a href="#" target="_blank">Material for MkDocs</a>
            </p><br>              
        <a href="#" target="_blank"><img src="{% static 'linkedin.png' %}" alt="linkedin" title="linkedin"></a>
        <a href="#" target="_blank"><img src="logo/twiter.png" alt="twiter" title="twitter"></a>
        <a href="#" target="_blank"><img src="logo/facebook.png" alt="facebook" title="facebook"></a>
    </div>

    
    <script>
        /*buat konten kiri button dropdown*/
        var dropdown = document.getElementsByClassName("dropbtn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }
        </script>
</body>
</html>
