<div class="textm">
    <h1 id="begin">Getting Started</h1>
    <h3>Before you begin</h3>
    <div class="paragraf">
        <ol type="1">
            <li>Register an account in <a href="#">SOCA API Console.</a></li>
            <li>Create your first application in <a href="#">SOCA API Console.</a></li>
            <li id="API">Get an API Key to access SOCA NLP APIs.</li>
        </ol>
    </div>
    <h3>Using the API</h2>
    <p>Once you have your API Key and ID, you can use the API by
         sending HTTP <span>POST</span> requests to <span>https://api.prosa.ai/v1</span> followed by the endpoint name, e.g.
         for a Named Entity Recognition call the full URL would be <span>https://api.prosa.ai/v1/entities.</span>
    </p>
    <p>
        There are many ways to send HTTP <span>POST</span> requests, whether through applications or program codes. In this page we will
         show two ways to do this: graphically through Postman, and programmatically through Python.
    </p>
    <div class="kontenpostman">
        <ul>
            <li>Using Postman</li>
            <ol type="a">
                <li>Download and install <a href="https://www.postman.com/" target="_blank"> Postman.</a></li>
                <li>Create a new request tab by selecting New -> Request.
                     Fill the "Request Name" form and choose where to save the request.</li>
                <img src="logo/postman1.png" alt="" >
                <li>Set the request type to "POST" and enter the API URL in the request URL. In this example, we will use the Concept-based 
                    Sentiment Analyzer API (https://api.prosa.ai/v1/concept-sentiment).</li>
                <img src="logo/postman2.png" alt="">
                <li>In the "Headers" tab, insert and fill the request header parameters and values according to the API you want to use
                     (refer to the "Request Header" section of the API docs page).</li>
                <img src="logo/postman3.png" alt="">
                <p>In step e, there are two kinds of how to set up request body depending on API you want to use.</p>
                <li>For all APIs, except Concept-based Sentiment Analyzer:</li>
                <p>In the "Body" tab, choose "raw" radio button, then choose "JSON (application/json)" from the dropdown menu, then insert and fill the json request according to the API you want to use
                     (refer to the "Request Body" section of the API docs page).</p>
                <img src="logo/postman4.png" alt="">
                <p>For Concept-based Sentiment Analyzer:</p>
                <p>In the "Body" tab, choose "form-data" from the lists, then insert and fill the request body parameters and values according to the API you want to use (refer to the "Request Body" section of the API docs page). Note that our API sometimes needs a different value type (e.g. file type). In this case, you can change the data type by hovering your cursor
                     just to the left of the value box and choose the data type from the dropdown list.</p>
                <img src="logo/postman5.png" alt="">
                <p>For step f onward, these steps are the same for all APIs.</p>
                <li>Press "Send" in order to send your request to the API. The status and the result will be shown on the lower half of the screen.</li>
                <img src="logo/postman6.png" alt="">
                <img src="logo/postman7.png" alt="">
                <li>Alternatively, you can import our Postman collection here.</li>
            </ol>
        </ul>
    </div>
    <div class="pyton">
        <ul>
            <li>Using Python</li>
            <ol type="a">
                <li>In order to send HTTP <span>POST</span>  requests programmatically, you will need to install a software package or library that can send HTTP requests.
                     In this example, we're going to use <a href="#">Requests.</a></li>
                <li>In your code, after importing "requests", create a header and a body object containing the header and the body content of the request respectively.
                     Refer to the "Request Header" and the "Request Body" section of the API docs page.</li>
                <li>Use the "requests.post()" method to obtain the result of the request.</li>
            </ol>
        </ul>
    </div>
    <p>Below is an example code for sending a request to our "Normalization API".</p>
    <blockquote>
        import requests <br><br>
        input_sentence = 'Saya pergi ke pasar.'<br>
        headers = {'x-api-key': 'YOUR_API_KEY_HERE', 'Content-Type': 'application/json'}
        body = 'text': input_sentence <br>
        <span id="aut">r_pos = requests.post('https://api.prosa.ai/v1/syntax', headers = headers, json = body)</span></blockquote>
    <h3>Authentication</h3>
    <p>Before using the API, make sure you are registered and have authenticated your account. API requests without authentication will fail. To authenticate your account, you have to include your API key in the request header, which can be accessed 
        through <a href="#">SOCA API Console.</a> You can also manage your API keys in the <a href="#">Credentials.</a> </p>
    <p>Requests to the API must be authorized by adding the <span>x-api-key </span>in header.</p>
    <blockquote id="http">Your API keys should be kept private so do not share your secret API keys.</blockquote>
    <h3>HTTP Statuses</h3>
    <p>This section will cover some of the common errors that can occur when access SOCA API:</p>
    <table>
        <tr>
            <th style="width: 10%;">Code</th>
            <th style="width: 20%;">Text</th>
            <th style="width: 40%;">Description</th>
        </tr>
        <tr>
            <td>200</td>
            <td>OK</td>
            <td>Success!</td>                      
        </tr>
        <tr>
            <td style="padding-bottom: 100px;">400</td>
            <td style="padding-bottom: 100px;">Bad Request <br></td>
            <td style="padding-bottom: 55px;">The required field or parameter has not been provided, the value supplied is invalid, text is too long, or the combination of provided fields is invalid.</td>
        </tr>
        <tr>
            <td>403</td>
            <td>Forbidden</td>
            <td>Invalid authorization header. x-api-key is invalid or not send in headers.</td>
        </tr>
        <tr>
            <td>403</td>
            <td>User Rate Limit Exceeded</td>
            <td>The per-user limit has been reached.</td>
        </tr>
        <tr>
            <td>404</td>
            <td>Endpoint Not Found</td>
            <td>Wrong API URI.</td>
        </tr>
        <tr>
            <td>405</td>
            <td>Method Not Found</td>
            <td>Wrong HTTP Method.</td>
        </tr>
        <tr>
            <td>429</td>
            <td>Too Many Requests</td>
            <td>The user has sent too many requests in a given amount of time.</td>
        </tr>
        <tr>
            <td>500</td>
            <td>Backend Error</td>
            <td>An unexpected error occurred while processing the request.</td>
        </tr>
        <tr id="mtl">
            <td>502</td>
            <td>Bad Gateway</td>
            <td>API Timeout.</td>
        </tr>
    </table>
    <h3>Maximum Text Length</h3>
    <p id="rl">Maximum text length that can be send to SOCA NLP API is 50,000 characters long.</p>
    <h3>Rate Limits</h3>
    <p id="ar">SOCA NLP API limits the steady-state request rate to 50 requests per second (rps). 
        You may get <span> 429 error</span> when request submissions exceed the steady-state request rate.</p>
    <h3>API Reference</h3>
    <p>We provide a variety of Natural Language Processing in token level, 
        phrase level, sentence level, and document level that allow you to extract
         meaningful insight and understanding from textual content.</p>
    <p>The majority of our users will use one or more endpoints combined, depending on their use case. For example, for full coverage in online news information extraction use case we recommend combining 
        the Named Entity Extractor, News Quotes Extractor, Sentiment Analyzer, and News Topic Classifier.</p>
    <table>
        <tr>
            <th style="width: 20%;">Resource Name</th>
            <th style="width: 15%;">HTTP Method</th>
            <th>URI</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="#">Concept-based Sentiment Analyzer</a></td>
            <td>POST</td>
            <td>/concept-sentiment</td>
            <td>Analyze the sentiment of each concept from a given text file.</td>
        </tr>
        <tr>
            <td><a href="#">Dependency Parser</a></td>
            <td>POST</td>
            <td>/dependency</td>
            <td>Syntactically parse an input sentence, by creating a dependency graph that shows how each word modifies another word.</td>
        </tr>
        <tr>
            <td><a href="#">Document-based Sentiment Analyzer</a></td>
            <td>POST</td>
            <td>/sentiments</td>
            <td>Analyze sentiment from the given text whether the tone is positive, neutral or negative.</td>
        </tr>
        <tr>
            <td><a href="#">Emotion Detector</a></td>
            <td>POST</td>
            <td>/emotion</td>
            <td>Extracts emotions from a given sentence. There are four emotion labels, i.e. anger, joy, sadness, and fear.</td>
        </tr>
        <tr>
            <td><a href="#">Hate Speech Detector</a></td>
            <td>POST</td>
            <td>hates</td>
            <td>Detect whether the given text is hate speech.</td>
        </tr>
        <tr>
            <td><a href="#">Legal Information Extractor</a></td>
            <td>POST</td>
            <td>/information-extraction</td>
            <td>Legal Information Extractor is able to read legal documents and summarize information including the name of the notary, Akta number, type of company, capital information, etc.</td>
        </tr>
        <tr>
            <td><a href="#"> Named Entity Recognizer</a></td>
            <td>POST</td>
            <td>/entities</td>
            <td>Extract list of named entities (People, Place, Organization,etc) from the given text.</td>
        </tr>
        <tr>
            <td><a href="#"> News Topic Classifier</a></td>
            <td>POST</td>
            <td>/topics</td>
            <td>Classifying news content according to pre-defined news topics.</td>
        </tr>
        <tr>
            <td><a href="#">Quotation Extractor</a> </td>
            <td>POST</td>
            <td>/quotes</td>
            <td>Extract all quote sentences including its quote and the speaker from given text.</td>
        </tr>
        <tr>
            <td><a href="#">Rude Speech Detector</a></td>
            <td>POST</td>
            <td>/rudes</td>
            <td>Detects whether the given text has a rude word.</td>
        </tr>
        <tr>
            <td><a href="#">Syntactic Analyzer</a></td>
            <td>POST</td>
            <td>/syntax</td>
            <td>Extracts linguistic information, by split up the given text into a series of tokens (generally, words) and sentences from text and identify part-of-speech tag, lemma, and affixes from each token in sentences.</td>
        </tr>
        <tr id="q">
            <td><a href="#">Word Normalizer</a></td>
            <td>POST</td>
            <td>/normals</td>
            <td>Normalize non-standard words to their canonical forms.</td>
        </tr>
    </table>
    <h3>Questions?</h3>
    <blockquote>
        We do our best to make this documentation clear and user friendly,
             but if you have unanswered questions, please send email to <a href="mailto:support@prosa.ai">support@soca.ai</a>.
    </blockquote>
        
    </div>