body {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.arrow {
  border: solid rgb(248, 248, 248);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

blockquote {
  font-family: monospace;
  font-weight: lighter;
  color: #ada8a8;
  font-size: 17px;
  border-left: 5px solid grey ;
  padding-left: 10px;
  margin-left: 2px;
}

code{
  color: #ada8a8;
  font-size: 17px;
  border-left: 5px grey ;
  padding-left: 10px;
  margin-left: 2px;
  
}

table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ddd;
  size: 20px;
  
}



table th{
  background-color: grey;
  text-align: left;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  
}

th ,td,tr{
  height: 30px;
  line-height: 2;
  
  
}



table tr{
  border: 1px solid #ddd;
  
}

table td,table th{
  
  padding: 8px;
}

table tr:hover{
  background-color: #ada8a8;
}

/*konten kiri*/


.left i{
  
  float: right;
}
.caretdown {
  
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px
  
 }
 
 .caretdown::after,
 .caretdown::before {
  
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 11px
  

 }
 
 .caretdown::after {
  width: 7px;
  height: 7px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  left: 10px
 }
.left a:hover,.left li a:hover,.left button:hover{
  color: rgb(0, 163, 163);
  
}

.drop1,.drop2,.drop3,.drop4,.drop5{
  display: none;
  position: sticky;
}
.drop1 li,.drop2 li{
  padding-left: 10px;
}

.drop5 li{
  padding-left: 20px;
  line-height: 1;
  margin: 1em 0;
}

.drop4 li{
  padding-left: 30px;
}

#btn1{
  margin-right: 100px;
  padding-left: 10px;
}

#btn2{
  padding-left: 20px;
  margin-right: 100px;
}

#btn3{
  padding-left: 20px;
}
.left button{
  text-decoration: none;
  border: 0px solid;
  background-color: transparent;
  font-size: 15px;
  color: rgb(129, 129, 129);
  padding-left: 1px;
  
}

.textl{
  padding-left: 60px;
  padding-top: 45px;
  
}

.left li a{
  color: rgb(129, 129, 129);
}

.left a:link{
  text-decoration: none;
}



.left li{
  text-decoration: none;
  list-style-type: none;
  
}

.left span{
  color: teal;
}




/*buat atur yg konten kanan ,text,warna*/
.textr{
  padding-left: 70px;
  padding-top: 45px;
  
}
.right li a,.right a{
  color: rgb(129, 129, 129);
}

.right li{
  text-decoration: none;
  color: black;
  list-style-type: none;
  padding-left: 15px;
  
}



.right span{
  font-weight: bold;
}

.right a:link{

  text-decoration: none;
}

.right li a:hover,.right a:hover{
  color: rgb(0, 163, 163);
  
}

.right li{
  text-decoration: none;
  color: black;
  list-style-type: none;
  padding-left: 15px;
  
}

.kananlist{
  padding-left: 15px;
}

/*konten tengah*/
.middle li a{
  color: rgb(2, 192, 192);
}

.middle a{
  color: rgb(2, 192, 192);
}
.middle a:link{
  
  text-decoration: none;
}

.middle span{
  background-color: rgb(231, 227, 227);
  font-family: monospace;
  font-weight: lighter;
  color: #6d6868;
  font-size: 15;
}
.middle a:hover{
  color: rgb(0, 163, 163);
}

.middle ul ol li{
  line-height: 2;
}

.middle h1{
  
  color: #6d6868;
  font-size: 34px;
  font-family: Roboto;
  font-weight: 500;
}

.paragraf{
  font-size: 17px;
  line-height: 2;
  font-family: Roboto;
  font-weight: 700;
}

.middle h3{
  color: #535353;
  font-size: 27px;
  font-family: Roboto;
  font-weight: 600;
  padding-top: 10px;
  
}

.middle p{
  font-size: 17px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.6;
}

.textm{
  padding-left: 30px;
}

.kontenpostman img{
  width: 650px;
  height:  336px;
}

.middle ul li{
  font-size: 17px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.6;
}



/* Buat ngatur header semua disini*/
.header {
    overflow: hidden;
    background-color:#0f0f0f;
    padding: 7px 12px;
   width: 100%;
   position: fixed;
   
  }
  
  .header img{
    padding-left: 70px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: left;
  }
 /* judul disini*/
  .header h3{
    display: inline;
    padding-left: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    float: left;
    margin: 5px 5px;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  /*buat searc button disini*/
 .header form{
  float: right;
  padding-top: 7px;
  padding-right: 100px;
  color: white;
  
 }
  
 .search {
  padding:9px 25px;
  background:rgba(48, 47, 47, 0.918);
  border:1px solid #dbdbdb;
  color: beige;
}
 
  .header-right {
    float: right;
  }

::-webkit-input-placeholder { /* For WebKit browsers */
    color:    white;
                font-family: Arial, Helvetica, sans-serif;
                font-weight:lighter;
}
/*Buat Atur ISI LAYOUT UTAMA KIRI,KANAN,TENGAH*/
.container {
  height: 100%; 
  width:100%; 
  font-size: 0;
  padding-top: 49px;

}
.left, .middle, .right {
  display: inline-block;
 *display: inline; 
 zoom: 1; 
 vertical-align: top; 
 font-size: 12px;
}
.left {
  width: 20%; 
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 10;
  font-size: 15px;
  position: sticky;
  top: 5%;
  overflow-y: auto;
  
  
}
.middle {
  width: 55%; 
  margin-top: 20px;
 
}
.right 
{
  width: 25%; 
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 10;
  font-size: 15px;
  position: sticky;
  top: 5%;
  
}


/*container ke 2 bawah*/
.container2{
  background-color: #2b2a2a;
  padding: 10px;
  height: 65px;
  
}

.container2 a:hover, a:hover span {
  color: #ada8a8;
}


.gg-arrow-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px
 }
 
 .gg-arrow-left::after,
 .gg-arrow-left::before {
  color: white;
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px
 }
 
 .gg-arrow-left::after {
  color: white;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 7px
  
 }
 
 .gg-arrow-left::before {
  width: 17px;
  height: 2px;
  bottom: 11px;
  background: currentColor;
 } 

 .gg-arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px
 }
 
 .gg-arrow-right::after,
 .gg-arrow-right::before {
  color: white;
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 3px
 }
 
 .gg-arrow-right::after {
  color: white;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 7px
 }
 
 .gg-arrow-right::before {
  width: 17px;
  height: 2px;
  bottom: 11px;
  background: currentColor;
 } 


.iii{
  float: left;
  width: 1%;
  padding-left: 80px;
  padding-top: 30px;
}

.ii{
  float: right;
  width: 1%;
  padding-right: 100px;
  padding-top: 30px;
}

.previous{
  float: left;
  padding-left: 40px;
  padding-top: 10px;
  width: 20%;
}


.next{
  float: right;
  padding-right: 30px;
  padding-top: 10px;
  width: 20%;
}


.previous span{
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
}

.next span{
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  text-align: right;
}

/*footer*/

.footer{
  background-color: rgb(29, 28, 28);
  padding: 10px;
  height: 45px;
  
}


.footer p{
  color: rgba(255, 255, 255, 0.753);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-left: 70px;
  padding-bottom: 10px;
  font-weight: 200;
  width: 30%;
  height: 20%;
  float: left;
}

.footer span{
  color: #7c7c7c;
}



.footer p a{
  color: rgba(255, 255, 255, 0.753);
  text-decoration: none;
}

.footer a:hover{
  color: white;
}

.linkkanan{
  float: right;
}

.footer a img{
  width: 20px;
  height: 20px;
  float: right;
  padding-right: 20px;
}


.footer a:hover img{
  color: white;
}
